:root {
    --upch-primary: #B01333;
    --upch-primary-dark: #9b001b;
    --upch-red-dark: #8A0018;
    --upch-red-light:rgb(176 19 51 / 1%);
    --upch-red-lighter: rgb(176 19 51 / 5%);
    --upch-secondary: #FFD500;
    --upch-secondary-light: rgb(255 213 0 / 2%);
    --upch-dark: #a70723;
    --upch-web-bg: #F8F8F8;
    --upch-footer-bg-white: #fff;
    --upch-footer-bg: #D9D9D9;
    --upch-web-required: #FF5B1F;
    --upch-web-elective: #85754D;
    --upch-web-complementary: #F6CE00;
    --upch-blue:  #174AE3;
    --upch-black: #231F1F;
    --font-upch: 'Barlow', sans-serif;
    --ct-bg: #fff;
    --ct-btn-hover: #e8e8e8;
    --ct-btn-active: #ddd;
    --ct-btn-color: #555;
    --ct-border-color:  #ced4da;
    --ct-border-radius: 5px;
    --ct-tree-hover: white;
    --ct-selection: #418EFF;
    --ct-padding: 8px;
    
}
.table {
    --bs-table-striped-bg: #f6f6f678;
}
